body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:722px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:738px;
  height:707px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:167px;
  width:722px;
  height:691px;
  line-height:36px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:702px;
  word-wrap:break-word;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:109px;
  width:722px;
  height:30px;
}
#u416_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:728px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:35px;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:0px;
  width:181px;
  height:30px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:0px;
  width:181px;
  height:30px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:36px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:0px;
  width:179px;
  height:30px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:30px;
  width:181px;
  height:90px;
  visibility:hidden;
}
#u426_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:95px;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:181px;
  height:30px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:181px;
  height:30px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:276px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:531px;
  width:256px;
  height:276px;
  opacity:0.8;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:292px;
  height:41px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:28px;
  width:288px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6666FF;
  text-align:center;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
