body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:722px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:51px;
  width:722px;
  height:30px;
}
#u0_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:728px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:35px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:0px;
  width:181px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:0px;
  width:181px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:36px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:0px;
  width:179px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:736px;
  height:596px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:102px;
  width:722px;
  height:582px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:702px;
  word-wrap:break-word;
}
