body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:722px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:738px;
  height:656px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:167px;
  width:722px;
  height:640px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:292px;
  height:41px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:28px;
  width:288px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6666FF;
  text-align:center;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:109px;
  width:722px;
  height:30px;
}
#u34_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:728px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:35px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:0px;
  width:181px;
  height:30px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:0px;
  width:181px;
  height:30px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:36px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:0px;
  width:179px;
  height:30px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:30px;
  width:181px;
  height:90px;
  visibility:hidden;
}
#u44_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:95px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:181px;
  height:30px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:36px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:181px;
  height:30px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
